---
title: "Unsere Hochzeit"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: /assets/images/banner1.png
intro: 
  - excerpt: "Willkommen auf unserer Internetseite. Unter den verschiedenen Links findet Ihr Informationen zur Hochzeit, zur Anreise und zu Unterkünften, zu Merida und Yucatan, und Tipps zur Freizeit-/Urlaubsgestaltung. Falls es nach der Lektüre noch irgendwelche Fragen gibt, meldet euch einfach!"
feature_row:
  - image_path: assets/images/myimages/pappys1.jpg
    alt: "placeholder image 1"
    title: "Über uns"
    excerpt: "Ein paar Hintergrundinfos zum Brautpaar."
    url: "/deutsch/story.html"
    btn_label: "Klick!"
  - image_path: assets/images/myimages/sanfran1.jpg
    alt: "placeholder image 2"
    title: "Kirchliche Trauung"
    excerpt: "Informationen zur kirchlichen Trauung."
    url: "/deutsch/church.html"
    btn_label: "Klick!"
  - image_path: assets/images/myimages/cardinals1.jpg
    title: "Die Feier"
    excerpt: "Informationen zur anschließenden Feier."
    url: "/deutsch/party.html"
    btn_label: "Klick!"
feature_row2:
  - image_path: assets/images/myimages/blues1.jpg
    alt: "placeholder image 4"
    title: "Anreise und Unterkunft"
    excerpt: "Tipps zur Anreise, zu Unterkünften, und zur Freizeitgestaltung."
    url: "/deutsch/trip.html"
    btn_label: "Klick!"
  - image_path: assets/images/myimages/merida1.jpg
    alt: "placeholder image 5"
    title: "Geschenke"
    excerpt: "Eure Anwesenheit ist natürlich das größte Geschenk! Falls Ihr noch mehr geben wollt, gibt es hier ein paar Tipps."
    url: "/deutsch/gifts.html"
    btn_label: "Klick!"
  - image_path: assets/images/myimages/berlin1.JPG
    title: "Deutschland und Mexiko"
    excerpt: "Eine kleine Übersicht zu mexikanischen und deutschen Hochzeitstraditionen."
    url: "/deutsch/multi.html"
    btn_label: "Klick!"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
{% include feature_row id="feature_row2" %}
