---
title: "Our wedding"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: /assets/images/banner1.png
intro: 
  - excerpt: " Welcome to our site! We are really looking forward to celebrating our special day with you! Here you will find some links and information regarding the dat of the event. We hope you find them useful! However, if you have questions or comments do not hesitate in contacting us. We love you!"
feature_row:
  - image_path: assets/images/myimages/pappys1.jpg
    alt: "placeholder image 1"
    title: "Our story"
    excerpt: "Some details of the road we have walked together and that took us to this stage."
    url: "/english/story.html"
    btn_label: "Click here"
  - image_path: assets/images/myimages/sanfran1.jpg
    alt: "placeholder image 2"
    title: "Church"
    excerpt: "Time, place and instructions for the most important moment of the day."
    url: "/english/church.html"
    btn_label: "Click here"
  - image_path: assets/images/myimages/cardinals1.jpg
    title: "La fiesta"
    excerpt: "Ready to dance? Find all details here!"
    url: "/english/party.html"
    btn_label: "Click here"
feature_row2:
  - image_path: assets/images/myimages/blues1.jpg
    alt: "placeholder image 4"
    title: "Transportation and lodging"
    excerpt: " Welcome to the most beautiful city in Mexico! Here yo will find some tips, hotel discount codes and details to turn this celebration into an unforgettable weekend."
    url: "/english/trip.html"
    btn_label: "Click here"
  - image_path: assets/images/myimages/merida1.jpg
    alt: "placeholder image 5"
    title: "Registry"
    excerpt: "We actually just want you here! However, if you insist here you will find some options. No pressure though!"
    url: "/english/gifts.html"
    btn_label: "Click here"
  - image_path: assets/images/myimages/berlin1.JPG
    title: "Germany and Mexico"
    excerpt: "We love our multicultural relationship! Get to know some German and Mexican traditions regarding weddings."
    url: "/english/multi.html"
    btn_label: "Click here"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
{% include feature_row id="feature_row2" %}
