---
title: "Nuestra boda"
layout: splash
permalink: /esp/
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: /assets/images/banner1.png
intro: 
  - excerpt: "¡Bienvenidos a nuestro sitio! Nos emociona muchísimo celebrar este día con ustedes. Aquí encontrán algunos links e información sobre el día del evento que esperamos sean de utilidad. Sin embargo, si tienen preguntas, no duden en contactarnos. ¡Los queremos!"
feature_row:
  - image_path: assets/images/myimages/IMG_0001.jpg
    alt: "placeholder image 1"
    title: "Nuestra historia"
    excerpt: "Algunos detalles del camino que hemos recorrido hasta este momento."
    url: "#test-link"
    btn_label: "Click aquí"
  - image_path: /assets/images/myimages/IMG_0442.JPG
    alt: "placeholder image 2"
    title: "La misa"
    excerpt: "Hora, lugar e instrucciones para el momento más importante del día."
    url: "#test-link"
    btn_label: "Click aquí"
  - image_path: /assets/images/myimages/IMG_2291(1).jpg
    title: "La fiesta"
    excerpt: "¿Listos para bailar? ¡Encuentra todos los detalles aquí!"
    url: "#test-link"
    btn_label: "Click aquí"
feature_row2:
  - image_path: assets/images/myimages/IMG_0001.jpg
    alt: "placeholder image 1"
    title: "Transporte y hospedaje"
    excerpt: "¡Bienvenidos a la ciudad más bella de México! Conoce algunos tips, códigos de hoteles y detalles sobre cómo convertir esta celebración en un fin de semana inolvidable."
    url: "#test-link"
    btn_label: "Click aquí"
  - image_path: /assets/images/myimages/IMG_0442.JPG
    alt: "placeholder image 2"
    title: "Mesa de regalos"
    excerpt: "¡Sólo queremos tu presencia! Pero si insistes, aquí hay unas opciones."
    url: "#test-link"
    btn_label: "Click aquí"
  - image_path: /assets/images/myimages/IMG_2291(1).jpg
    title: "Alemania y México"
    excerpt: "¡Amamos nuestra mezcla cultural! Conoce algunas tradiciones de bodas mexicanas y alemanas."
    url: "#test-link"
    btn_label: "Click aquí"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" %}
