---
title: "Alemania y México"
layout: splash
permalink: /espanol/multi
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: /assets/images/banner1.png
intro: 
  - excerpt: "Celebrando nuestras diferencias"
feature_row:
  - image_path: assets/images/myimages/de_flag.png
    alt: "placeholder image 1"
    title: "Alemania"
    excerpt: "- AAA <br> - BBB"
  - image_path: assets/images/myimages/mx_flag.png
    alt: "placeholder image 2"
    title: "México"
    excerpt: "Hora, lugar e instrucciones para el momento más importante del día."
---

{% include feature_row id="intro" type="center" %}
<p>Tenemos la fortuna de venir de dos culturas (bastante) diferentes, pero esto lo vemos como una gran ventaja. Hemos aprendido y disfrutado&nbsp;mucho de cada uno de ellas, y ahora queremos compartir con ustedes una probadita de lo interesante que ha sido la experiencia. Estas son algunas de las tradiciones de bodas alemanas y mexicanas.</p>
<p>&nbsp;</p>
{% include feature_row %}
