---
title: "¿Cómo acabamos aquí?"
layout: splash
permalink: /espanol/story
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: /assets/images/banner1.png
intro: 
  - excerpt: "Dicen que siempre hay dos versiones en cada historia..."
feature_row3:
  - image_path: /assets/images/myimages/mich1.JPG
    title: "Michelle dice..."
    excerpt: "Desde el segundo que conocí a Jonathan me cayó bien. Su vibra relajada y cool era evidente aún en el Recruitment Weekend en donde todos estábamos nerviosos. Regresé a México diciendo que --había un alemán hippioso pero simpático--. Estoy convencida que el destino nos quería juntos... compartíamos los mismos eventos, nos encontrábamos en el mismo camión, coincidíamos en varios lugares, llegábamos juntos al mismo tiempo."
feature_row4:
  - image_path: /assets/images/myimages/joni2.JPG
    title: "...y Jonathan dice"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
feature_row5:
  - image_path: /assets/images/myimages/ring1.png
    title: "La pedida"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="left" %}
{% include feature_row id="feature_row5" type="center" %}
