---
layout: splash
---

<h1 style="color:#6A0888;">Our wedding/Unsere Hochzeit/Nuestra boda</h1>
<h3>April 7th, 2018<br>Hacienda Dzibikak, Mérida, Yucatán</h3>
<p>Welcome to our site! We are very excited to celebrate our wedding with all of you! We created this website to provide information about our big day. Hopefully you will find it useful. Let us know if we can be of any help.</p><p>We are really looking forward to seeing all of you in beautiful Yucatán! Mark your calendars, pack your bathing suit, and get ready to dance and celebrate with us!</p>Love,<br>Michelle & Jonathan

<img src="{{ site.url }}{{ site.baseurl }}/assets/images/main1.JPG" alt="">


{% include paginator.html %}
